<app-navbar></app-navbar>
<!-- HEADER -->
<section id="header ">
  <div class="container-xxl text-center mt-5 py-5">
    <div class="display-2">{{ 'PASSWORD_PAGE.RESTORE_PASSWORD' | translate }}</div>
  </div>
</section>

<div class="container pt-2">
  <div class="row justify-content-center">
    <!-- Login Form -->
    <div class="col-md-7 col-lg-6 ml-auto">
      <form #loginForm="ngForm" (ngSubmit)="onPasswordReset(loginForm)">
        <div class="row">
          <!-- Email Address -->
          <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;">{{
            "REGISTER_PAGE.ENTER_EMAIL" | translate }}</span>
          <div class="input-group input-group-lg col-lg-6 mb-4">
            <span class="input-group-text">
              <i class="bi bi-envelope-fill text-secondary"></i>
            </span>
            <input type="email" class="form-control" name="email" placeholder="Email" required ngModel
              #emailInput="ngModel" />
            <!-- tooltip -->
            <span class="input-group-text">
              <span class="tt" data-bs-placement="bottom" title="{{ 'REGISTER_PAGE.EMAIL_TOOLTIP' | translate }}">
                <i class="bi bi-question-circle text-muted"></i>
              </span>
            </span>
          </div>

          <!-- Submit -->
          <div class="form-group text-center">
            <button [disabled]="loginForm.invalid || showLoading" type="submit" name="button"
              class="btn btn-primary btn-lg">
              <div *ngIf="showLoading" class="spinner-border text-light" role="status"></div>
              <span *ngIf="showLoading">&nbsp;&nbsp;{{ "PASSWORD_PAGE.PROCESSING" | translate }}</span>
              <span *ngIf="!showLoading">{{ "PASSWORD_PAGE.SEND_PASSWORD" | translate }}</span>
            </button>
          </div>

        </div>
      </form>
      <!-- Divider Text -->
      <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-100 ml-5"></div>
        <span class="px-2 small text-muted font-weight-bold text-muted">{{ "LOGIN_PAGE.OR" | translate }}</span>
        <div class="border-bottom w-100 mr-5"></div>
      </div>

      <!-- Already Registered -->
      <div class="text-center w-100">
        <p class="text-muted font-weight-bold">{{ "LOGIN_PAGE.DONT_HAVE_ACCOUNT" | translate }} <a href="register"
            routerLink="/register" class="text-primary ml-2">{{ "LOGIN_PAGE.REGISTER" | translate }}</a></p>
        <p><a href="login" routerLink="/login" class="text-primary ml-2">{{
            "PASSWORD_PAGE.REMEMBER" | translate }}</a></p>
      </div>
    </div>
  </div>
</div>