<div class="site-footer footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a href="https://www.facebook.com/TenSysApp"><i class="icon bi bi-facebook"></i></a>
                    <p class="pt-3" style="text-align:center; text-decoration: underline; color:#f0f9ff;">info [@] tensys.org</p>
                    <p class="copyright">TenSys © 2022</p>
                </div>
            </div>
            
        </div>
    </footer>
</div>