<app-navbar></app-navbar>
<!-- CONTENT -->
<section id="hero">
    <div class="container-lg hero-container d-flex align-items-center">


        <div class="row hero-row justify-content-center my-auto mx-auto text-center text-lg-start">

            <div class="col-lg-8 col-md-9 my-auto">
                <h1 class="pb-2 fw-bold">{{ "REG-SUCCESS.THANK_YOU" | translate }}</h1>
                <h1 class="pb-2 fw-bold">{{ "REG-SUCCESS.H1" | translate }}</h1>
                <p class="py-2">{{ "REG-SUCCESS.P1_1" | translate }}<br>
                    {{ "REG-SUCCESS.P1_2" | translate }}</p>
            </div>
        </div>


    </div>
</section>